{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
	<div class="col-sm-10">
		<h3 class="text-white my-5 ">About Page</h3>

		<p class="text-justify">Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Voluptatum nesciunt natus alias molestiae officia officiis ea aspernatur libero illum, magnam unde consectetur odio doloremque corrupti? Tenetur unde libero assumenda repudiandae.!</p>

		<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, nostrum suscipit eum unde vel corporis possimus praesentium odit ullam nesciunt tempora quibusdam, libero officiis consectetur, quas quam alias temporibus pariatur. Necessitatibus voluptatibus iste ipsum aut laborum quibusdam cumque repellendus. Culpa doloribus, voluptatum mollitia atque maxime commodi consequatur omnis laudantium minus.</p>
	</div>
{% endblock content %}