<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="{% url 'home' %}">Mini Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link {{home_active}}" href="{% url 'home' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{about_active}}" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{contact_active}}" href="{% url 'contact' %}">Contact</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {{dashboard_active}}" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      
      {% else %}
        <li class="nav-item">
          <a class="nav-link {{signup_active}}" href="{% url 'signup' %}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{login_active}}" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}    
    </ul>
  </div>
</nav>