{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
	<div class="col-sm-5 col-sm-10 col-lg-7">
		<h3 class="text-white my-5">Become an Author</h3>

		{% if messages %}
		    {% for msg in messages %}
		    	<p {% if msg.tags %} class="alert alert-{{msg.tags}} mb-4" {% endif %} >{{msg}} 
		    		<strong><a href="{% url 'login' %}">Click to Login</a></strong>	
		    	</p>
		    {% endfor %}		
		{% endif %}

		<form action="" method="POST" novalidate>
			{% csrf_token %}

			{% for fm in form %}
				<div class="form-group my-3">
					{{fm.label_tag}} {{fm}}<small class='text-warning'>{{fm.errors|striptags}}</small>
				</div>
			{% endfor %}

			<input type="submit" name="submit" value="Signup" class="btn btn-primary">

			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<p class="alert alert-danger my-2">
						{{error}}
					</p>
				{% endfor %}
			{% endif %}
		</form>
	</div>
{% endblock content %}